body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(#0f172a,#020617);
  color: white;
  text-align: center;
}

/* BOARD */
#board {
  width: 360px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 2px;
  padding: 5px;
  border-radius: 10px;
}

/* CELLS */
.cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.2);
}

/* PATH */
.white {
  background: #e2e8f0;
}

/* HOME COLORS */
.home-red { background: #ef4444; }
.home-green { background: #22c55e; }
.home-yellow { background: #eab308; }
.home-blue { background: #3b82f6; }

/* CENTER */
.center {
  background: conic-gradient(red, yellow, green, blue);
}

/* TOKENS */
.player {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.p1 { background: red; }
.p2 { background: green; }
.p3 { background: yellow; }
.p4 { background: blue; }

/* BUTTONS */
button {
  padding: 12px 18px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background: linear-gradient(45deg,#ef4444,#b91c1c);
  color: white;
}
